.product__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media (min-width: 769px) {
  .products {
    display: flex;
    flex-wrap: flex;
    justify-content: space-between;
  }
  .product {
    flex-basis: 32%;
    display: flex;
    flex-direction: column;
  }
  .product__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .product__content {
    flex-grow: 1;
  }
}